body{
    background-color: white;
}

.box{
    background: white;
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
    top: 120px;
    border-radius: 30px;
}

.box:hover{
    border-radius: 10px;
}

.submit_button:active{
    background-color: red;
    color: red;
} 

.link{
    text-decoration: none;
}
.link:active{
    color: red;
}


